<!-- Modal -->
<app-modal-bairros
  [visivel]="modalOrigemVisivel"
  (fechado)="fecharModalOrigem()"
  (bairroSelecionado)="onOrigemSelecionado($event)"
  [excluirBairroId]="ruaAtual.destino.id">
</app-modal-bairros>

<app-modal-bairros 
  [visivel]="modalDestinoVisivel"
  (fechado)="fecharModalDestino()"
  (bairroSelecionado)="onDestinoSelecionado($event)"
  [excluirBairroId]="ruaAtual.origem.id">
</app-modal-bairros>

<div class="form-container">
  
  <header>
    <h2>{{ idEditando ? 'Editar' : 'Cadastro de' }} Rua</h2>
  </header>

  <form (ngSubmit)="salvar()" #formRua="ngForm">

    <div class="form-group">
      <label for="nome">Nome da Rua:</label>
      <input 
        id="nome" 
        name="nome" 
        type="text" 
        [(ngModel)]="ruaAtual.nome" 
        placeholder="Ex: Rua São Juaquim"
        required
        #nomeInput="ngModel"
        [ngClass]="{ 'invalid-input': nomeInput.invalid && (nomeInput.dirty || nomeInput.touched) }"
      />
      <div *ngIf="nomeInput.invalid && (nomeInput.dirty || nomeInput.touched)" class="error-message">
        <small *ngIf="nomeInput.errors?.['required']">Nome da rua é obrigatório.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="origem">Origem:</label>
      <input 
        id="origem" 
        name="origem" 
        type="text" 
        [(ngModel)]="ruaAtual.origem.nome" 
        placeholder="Click aqui para selicionar a Origem"
        #origemInput="ngModel"
        (click)="abrirModalOrigem()"
        required
        [ngClass]="{ 'invalid-input': origemInput.invalid && (origemInput.dirty || origemInput.touched) }"
      />
      <div *ngIf="origemInput.invalid && (origemInput.dirty || origemInput.touched)" class="error-message">
        <small *ngIf="origemInput.errors?.['required']">A Origem da rua é obrigatório.</small>
      </div>
    </div>


    <div class="form-group">
      <label for="destino">Destino:</label>
      <input 
        id="destino" 
        name="destino" 
        type="text" 
        [(ngModel)]="ruaAtual.destino.nome" 
        placeholder="Click aqui para selicionar o Destino"
        #destinoInput="ngModel"
        (click)="abrirModalDestino()"
        required
        [ngClass]="{ 'invalid-input': destinoInput.invalid && (destinoInput.dirty || destinoInput.touched) }"
      />
      <div *ngIf="destinoInput.invalid && (destinoInput.dirty || destinoInput.touched)" class="error-message">
        <small *ngIf="destinoInput.errors?.['required']">O Destino da rua é obrigatório.</small>
      </div>
    </div>

    <div class="form-group">
      <label for="distancia">Distancia (Km):</label>
      <input 
        id="distancia" 
        name="distancia" 
        type="text" 
        [(ngModel)]="ruaAtual.distancia" 
        placeholder="Ex: 5000"
        required
        #distanciaInput="ngModel"
        [ngClass]="{ 'invalid-input': distanciaInput.invalid && (distanciaInput.dirty || distanciaInput.touched) }"
      />
      <div *ngIf="distanciaInput.invalid && (distanciaInput.dirty || distanciaInput.touched)" class="error-message">
        <small *ngIf="distanciaInput.errors?.['required']">A Distancia é obrigatória.</small>
      </div>
    </div>

    <div *ngIf="mensagem?.tipo" [ngClass]="['popup', mensagem.tipo === 'erro' ? 'error' : 'success']">
    <span *ngIf="mensagem.tipo === 'salvo'">✅</span>
    <span *ngIf="mensagem.tipo === 'editado'">✏️</span>
    <span *ngIf="mensagem.tipo === 'excluido'">🗑️</span>
    <span *ngIf="mensagem.tipo === 'erro'">❌</span>
    {{ mensagem.texto }}
  </div>

    <div class="button-group">
      <button type="submit" class="btn salvar" [disabled]="formRua.invalid">
        💾 {{ idEditando ? 'Atualizar' : 'Salvar' }}
      </button>
      <button
        type="button"
        *ngIf="idEditando"
        class="btn cancelar"
        (click)="resetForm()"
      >
        ❌ Cancelar Edição
      </button>
    </div>
  </form>
</div>

<hr />

<header>
  <h3>Ruas Cadastradas:</h3>
</header>

<table class="tabela-dados">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Origem</th>
      <th>Destino</th>
      <th>Distancia</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rua of ruas">
      <td>{{ rua.nome }}</td>
      <td>{{ rua.origem.nome }}</td>
      <td>{{ rua.destino.nome }}</td>
      <td>{{ rua.distancia}}</td>
      <td>
        <button class="btn editar" (click)="editar(rua)">✏️ Editar</button>
        <button class="btn excluir" (click)="excluir(rua.id!)">🗑️ Excluir</button>
      </td>
    </tr>
    <tr *ngIf="ruas.length === 0">
      <td colspan="5" style="text-align: center;">Nenhum rua cadastrado.</td>
    </tr>
  </tbody>
</table>
