<div 
  class="modal-overlay" 
  *ngIf="visivel" 
  (click)="fechar()" 
  aria-hidden="false"
  role="dialog"
  aria-modal="true"
>
  <div 
    class="modal-content" 
    (click)="$event.stopPropagation()" 
    tabindex="-1"
    aria-labelledby="modal-title"
    role="document"
  >
    <header class="modal-header">
      <h2 id="modal-title">Selecione um Bairro</h2>
      <button 
        type="button" 
        class="close-button" 
        (click)="fechar()" 
        aria-label="Fechar modal"
      >
        &times;
      </button>
    </header>

    <section class="modal-body">
      <input 
  #inputPesquisa
  type="text" 
  placeholder="Pesquisar bairro..." 
  [(ngModel)]="termoPesquisa" 
  (input)="filtrar()" 
  class="form-control"
/>
      <div>
      <p *ngIf="carregando">Carregando bairros...</p>

      <ul class="modal-list" role="listbox">
          <li 
          *ngFor="let bairro of bairrosFiltrados" 
          role="option"
          [attr.aria-disabled]="isBairroDesabilitado(bairro)"
          [class.disabled]="isBairroDesabilitado(bairro)"
          (click)="!isBairroDesabilitado(bairro) && selecionar(bairro)"
          >
          {{ bairro.nome }}
        </li>
        <li *ngIf="bairrosFiltrados.length === 0" class="nenhum-resultado">
          Nenhum bairro encontrado.
        </li>
      </ul>
    </div>
    </section>
  </div>
</div>
